{% extends "base.html" %}
<!DOCTYPE html>
{% load static %}
<html>
</head>
<body>
  {% block content %}
  <div class="w3-sidebar w3-black w3-bar-block" style="width:25%">
    <a href=""><p><b><font size="7">&#8498;&#8370;&#9832;</font></b></p></a>
  <h3 class="w3-bar-item">Menu</h3>
  <a href="#" class="w3-bar-item w3-button">&#9889;Offers<span class="w3-badge w3-green">6</span></a>
  <a href="" class="w3-bar-item w3-button">&#10032;Most Recommended</a>
  <a href="" class="w3-bar-item w3-button">&#9889;&#9889;Fast Delivery</a>
  <a href="" class="w3-bar-item w3-button">&#9719;Express Delivery</a>
  <a href="#" class="w3-bar-item w3-button">&#9881;Help</a>
  <a href="" class="w3-bar-item w3-button">&#10070;Terms and Conditions</a>
</div>

<div style="margin-left:25%">
  <div class="w3-container w3-teal">
</div>
<script>

    $(document).ready(function(){
        $('#review').click(function(){
            window.location.href = "/foods/review/";
        });
    });
</script>
<div class="navbar">
    <a href="/home/">Home</a>
    <a href="/status/"><p>&#9832;Cart</p></a>
    <a href="/shipping/"><p>Back</p></a>
</div>
  <div class="col-50">
      <marquee><p>**** In Case Of COD , Delivery Charges Will Be Applied ****</p></marquee>
      <h3><b>Payment</b></h3>
  <form name="myform" onsubmit="validate()" method="POST">
    {% csrf_token %}
      <label for="fname">Select Card Type:</label>
        <label class="radio">
            <input type="radio" name="optradio" checked>Credit Card
        </label>

        <label class="radio-inline">
          <input type="radio" name="optradio">Debit Card
        </label>

        <label class="radio-inline">
          <input type="radio" name="optradio">Cash On Delivery
        </label>
    </div>
    Name On Card:<input type="text" name="fname">
    Card Number:<input type="text" name="number">
    Expiry Date:<input type="text" name="date">
    CVV:<input type="text" name="number">
    OTP:<input type="text" name="number">
  </form>
    <div class="container">
    <button type="button" class="btn btn-primary" color="green" data-toggle="modal" data-target="#myModal">Submit</button>
    <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <b><font color="green">Your Payment Was Successful..!</font></b>
          <div class="container">
      <div class="progress">
        <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width:100%"></div><br>
      </div>
        </div>
      <div class="modal-footer">
          <class="btn btn-success"><a href="/review/"><center><button>Continue</button></center></button>
        </div>
</div>
  {% endblock %}
</div>
</body>
</html>
  